#   {{ title | trim }}

{% if summary %}
> {{ summary | trim }}
{% endif %}

### Основная информация

- **ID Курса**: {{ id }}
- **Язык**: {{ language }}
- **Нагрузка**: {{ workload }}
- **Ссылка**: [{{ canonical_url }}]({{ canonical_url }})

{% if description %}
### Описание

{{ description }}
{% endif %}

{% if acquired_skills %}
### Получаемые навыки
{% for skill in acquired_skills %}
- {{ skill }}
{%- endfor %}
{% endif %}

{% if acquired_assets %}
### Что вы получите
{% for asset in acquired_assets %}
- {{ asset }}
{%- endfor %}
{% endif %}
