# {{ position }}. {{ title | trim }}

{% if description %}
> {{ description | trim }}
{% endif %}

## Основная информация

- **ID Секции**: `{{ id }}`
- **ID Курса**: `{{ course }}`
- **Позиция в курсе**: {{ position }}
- **Дата создания**: {{ create_date }}
{% if update_date %}
- **Последнее обновление**: {{ update_date }}
{% endif %}
